body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.button {
  color: black;
}

.button:hover {
  font-weight: bold;
  color: #c50909;
  cursor: pointer;
}

.empty {
  min-height: 720px;
}

.entry {
  background-color: #fffffff0;
  margin-bottom: 25px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
}

.entry-content {
  padding: 5px 5px 5px 10px;
  font-size: 14px;
}

.entry-title {
  font-family: 'Fjalla One', sans-serif;
  font-size: 24px;
  color: #c50909;  
}

.first-letter{
  color: #c50909;
}

.footer {
  background-color: white;
  font-size: 0.75em;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.15);
}

.header {
  background-color: white;
}

.header-nav {
  padding-bottom: 10px;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15);
}

.highlight {
  font-weight: bold;
  color: #c50909;
  font-style: underline;
}


.section {
  box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.15);
  padding: 50px 50px 50px 50px;
  margin-top: 100px;
  background-color: #c50909;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23beb2d0' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  min-height: 720px;
}

.subtitle {
  font-family: 'Fjalla One', sans-serif;
  background-color: #fffffff0;  
  margin-bottom: 25px;
  font-size: 36px;
  color: #c50909;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 15%;
  margin-left: 15%;
}

.subtitle-text {
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 14px;
  margin-top: -10px;
  padding-bottom: 5px;
}

.title {
  margin: 10px 10px 0px 10px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 50px;
  /* color: #c50909; */
}